.title {
    background-color: #33cccc;
    height: 50px;
    width: 600px;
    text-align: center;
    
}

.back {
    background-color: lavender;
    height: 380px;
    width: 600px;
}

.body {
    background-color: white;
    height: 380px;
    width: 550px;
    margin: 0 auto;
}

.references {
    background-color: navy;
    height: 50px;
    width: 300px;
    float: left;
}

.text {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    color: navy;
    font-family: 'Oswald', sans-serif;
}

.image {
    height: 40px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
    padding: 4px;
}

.website {
    height: 50px;
    width: 300px;
    background-color: navy;
    float: left;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    font-family: 'Oswald', sans-serif;
}

.testTitle {
    text-align: center;
    color: navy;
    padding-top: 5px;
}

.header {
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

.groupsT {
    text-align: center;
    color: navy;
    padding-top: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.groups {
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

.topicImg {
    width: 166px;
    height: 200px;
    float: left;
    display: block;
}

.element2 {
    width: 166px;
    height: 200px;
    float: left;
}


.chart1class{
    width: 166px;
    height: 200px;
    float: left;
    padding-right: 5px;
}

.chart2class{
    width: 166px;
    height: 200px;
    float: left;
    padding-left: 10px;
}


.chart {
    width: 166px;
    height: 200px;
    float: left;
    
}

.image2 {
    text-align: center;
    height: 125px;
    display: block;
    padding-left: 20px;
    padding-top: 35px;
}

.graph_titles {
    text-align: right;
    color: navy;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding-right: 140px;
    padding-bottom: 20px;
}


.barF { fill: skyblue; }

.barM { fill: orange; }

svg {
    text-align: left;
}


#container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
  }
  canvas {
    border: 1px solid black;
  }

#container2 {
    position: relative;
    bottom: 100px;
}